@import './variables.scss';

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 10px;
}

@media (max-width: $mobile) {
	.footer {
		font-size: $font-small;
	}
}

@media (min-width: $tablet) {
	.footer {
		font-size: $font-medium;
	}
}
