@import './variables.scss';

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	margin: 5px;

	.icon {
		min-width: 84px;
	}

	.headerText {
		font-size: $font-large;
		text-align: center;
		margin-bottom: 0;
	}
}

@media (min-width: $mobile) {
	.header {
		.headerText {
			font-size: $font-x-large;
		}
	}
}

@media (min-width: $tablet) {
	.header {
		margin: 10px;
		gap: 20px;

		.headerText {
			font-size: $font-xx-large;
		}
	}
}

@media (min-width: $desktop) {
	.header {
		&:hover {
			text-decoration: underline;
		}
	}
}
