// media sizes
$mobile: 767px;
$tablet: 768px;
$desktop: 1024px;

// font sizes
$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
$font-x-large: 20px;

// colors
$normal: #cfcfba;
$fire: #ee8130;
$water: #6390f0;
$electric: #fdfa5a;
$grass: #80e048;
$ice: #96d9d6;
$fighting: #c22e28;
$poison: #a33ea1;
$ground: #c39955;
$flying: #a98ff3;
$psychic: #f95587;
$bug: #aec024;
$rock: #b8b08b;
$ghost: #735797;
$dragon: #6f35fc;
$dark: #8c776f;
$steel: #b7b7ce;
$fairy: #d685ad;
