* {
	border-image-repeat: stretch !important;
	*:focus-visible {
		outline: none;
	}
}

ul,
li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	& > * {
		max-width: 565px;
	}
}
